[package]
authors = ["Yudai Hayashi <34836226+Hayashi-Yudai@users.noreply.github.com>"]
edition = "2018"
name = "adconverter"
version = "0.1.0"

[dependencies]
synthrs = { git = "https://github.com/gyng/synthrs" }

[lib]
crate-type = ["dylib"]
name = "adconverter"
path = "src/lib.rs"
